In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [25]:
dataframe = pd.read_csv('data.csv')
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis = 1)
dataframe = dataframe[0:10]
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]
dataframe.loc[:, ('y2')] = (dataframe['y1'] == 0).astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [35]:
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()
type(inputX)

numpy.ndarray

In [34]:
# Learning Rate params
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [49]:
# Create graph (Neural Network)
# placeholder(
#    dtype,
#    shape=None,
#    name=None
#)

x = tf.placeholder(tf.float32, [None, 2])

W = tf.Variable(tf.zeros([2,2]))

b = tf.Variable(tf.zeros([2]))

y_values = tf.add(tf.matmul(x,W), b)

y = tf.nn.softmax(y_values)

y_ = tf.placeholder(tf.float32, [None, 2])

In [52]:
cost = tf.reduce_sum(tf.pow(y_ - y, 2)) / (2* n_samples)
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [53]:
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From c:\users\s\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\util\tf_should_use.py:170: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [61]:
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y_: inputY})
    if(i) % display_step == 0:
        cc = sess.run(cost, feed_dict={x:inputX, y_: inputY})
        print('Training step:', '%04d' % (i), ' cost=', '{:.9f}'.format(cc))

print("Optimization Finished!")
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print("Training cost=", training_cost, "W=", sess.run(W), "b=", sess.run(b), '\n')

Training step: 0000  cost= 0.111773349
Training step: 0050  cost= 0.109539941
Training step: 0100  cost= 0.109539881
Training step: 0150  cost= 0.109539807
Training step: 0200  cost= 0.109539725
Training step: 0250  cost= 0.109539665
Training step: 0300  cost= 0.109539591
Training step: 0350  cost= 0.109539531
Training step: 0400  cost= 0.109539464
Training step: 0450  cost= 0.109539390
Training step: 0500  cost= 0.109539315
Training step: 0550  cost= 0.109539248
Training step: 0600  cost= 0.109539188
Training step: 0650  cost= 0.109539129
Training step: 0700  cost= 0.109539054
Training step: 0750  cost= 0.109538987
Training step: 0800  cost= 0.109538928
Training step: 0850  cost= 0.109538838
Training step: 0900  cost= 0.109538779
Training step: 0950  cost= 0.109538697
Training step: 1000  cost= 0.109538652
Training step: 1050  cost= 0.109538577
Training step: 1100  cost= 0.109538510
Training step: 1150  cost= 0.109538436
Training step: 1200  cost= 0.109538376
Training step: 1250  cost= 0.109538302
Training step: 1300  cost= 0.109538235
Training step: 1350  cost= 0.109538175
Training step: 1400  cost= 0.109538101
Training step: 1450  cost= 0.109538034
Training step: 1500  cost= 0.109537959
Training step: 1550  cost= 0.109537899
Training step: 1600  cost= 0.109537825
Training step: 1650  cost= 0.109537765
Training step: 1700  cost= 0.109537683
Training step: 1750  cost= 0.109537624
Training step: 1800  cost= 0.109537557
Training step: 1850  cost= 0.109537482
Training step: 1900  cost= 0.109537408
Training step: 1950  cost= 0.109537341
Optimization Finished!
Training cost= 0.10953728 W= [[ 2.1414952e-04 -2.1414987e-04]
 [ 5.1300267e-05 -5.1300245e-05]] b= [ 1.1921415e-05 -1.1921425e-05]