In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [25]:
dataframe = pd.read_csv('data.csv')
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis = 1)
dataframe = dataframe[0:10]
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]
dataframe.loc[:, ('y2')] = (dataframe['y1'] == 0).astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [35]:
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()
type(inputX)

numpy.ndarray

In [34]:
# Learning Rate params
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [49]:
# Create graph (Neural Network)
# placeholder(
#    dtype,
#    shape=None,
#    name=None
#)

x = tf.placeholder(tf.float32, [None, 2])

W = tf.Variable(tf.zeros([2,2]))

b = tf.Variable(tf.zeros([2]))

y_values = tf.add(tf.matmul(x,W), b)

y = tf.nn.softmax(y_values)

y_ = tf.placeholder(tf.float32, [None, 2])

In [52]:
cost = tf.reduce_sum(tf.pow(y_ - y, 2)) / (2* n_samples)
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [53]:
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From c:\users\s\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\util\tf_should_use.py:170: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [ ]:
for i in range(training_epochs)
    sess.run(optmizier, feed_dict{x:inputX, y_: inputY})
    if(i) % display_step == 0
        cc = session.run(cost, feed_dict{x:inputX, y_: inputY})